# Data Science Tools and Ecosystem

**Objectives:**
+ Popular Data Science Languages
+ Commonly Used Libraries by Data Scientists
+ Data Sciecne Tools
+ Arithmetic Expressions in Python

## Author
Jacob Panka

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. phython
2. r
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. plotly
3. pandas

| Data Science Tools |
|--------------------|
| R studio |
| Jupyter Notebooks |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [25]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [45]:
200/60

3.3333333333333335